# Python build
__pycache__/

# Documentation build
docs/_build/
docs/html/.build
docs/html/.doctrees
docs/html/.buildinfo
docs/html/_sources
docs/html/_static
docs/make.bat

# Python env
.python-version
.env
/.idea

# Virtual env
.venv/
venv/
ENV/

.DS_Store

